# Python cache
src/__pycache__/
*.py[cod]

# Pip logs
pip-log.txt
pip-delete-this-directory.txt

# IDE settings
.idea/workspace.xml
.idea/discord.xml
.idea/usage.statistics.xml
.idea/shelf/

# My test files
src/test.stv
